<form action="/articles/create" method="get">
	<label>Title :</label><input type="text" name="title"><br><br>
	<label>Content :</label><input type="text area" name="content"><br><br>
	<input type="submit" value="create"><br><br>
</form>